.nav {
    grid-area: n;
    background-color: orange;
}

.item {
    color: white;
    text-underline: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.active{
    color:gold;
}
.friends{
    font-size: 1.5em;
}
.friends img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
}
.smallNames{
    font-size: 0.5em;
    padding: 5px;
}