.chat {
    display: grid;
    grid-template-columns: 2fr 10fr;
    /*grid-area: ;*/
}

.contacts {
    padding: 10px;
}

.dialogs {
    padding: 10px;
}

.dialog {

}

.contacts a:active {
    color: gold
}
.item img{
    width: 25px;
    height: 25px;
    border-radius: 15px;
}

